/* Banner Sobre Nós */
.sobre-banner {
    background-color: #0077b6;
    color: white;
    padding: 60px 20px;
    text-align: center;
    margin-bottom: 0px;
}

.sobre-banner h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.sobre-banner p {
    font-size: 1.1rem;
    max-width: 700px;
    margin: 0 auto;
}

/* Cards sobre nós */
.sobre-cards {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sobre-cards .card {
    background-color: #ffffff;
    padding: 25px 20px;
    border-radius: 10px;
    width: 260px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.sobre-cards .card h2 {
    background-color: #ffffff;
    margin-bottom: 10px;
    color: #000000;
}

.sobre-cards .card p {
    font-size: 0.95rem;
    color: #333;
}

.sobre-cards .card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}
